/*!
 * Name : Basic Ecommerce
 * Version: 1.0.0
 * Author: Sajeeb Debnath
 * Author URL: fb.me/sajeebdebnath.cse
 * Github: https://github.com/sajeebdebnath
 * Sajeeb Debnath 

 * Table of Contents:
    A. Homepage
        01. Header Section
        02. ALL Categories & Product Section
        03. Footer Section
    B. Product Details Page
        01. Header Section
        03. Footer Section
    C. Cart Page
        01. Header Section
        03. Footer Section
    C. Registration & Login Page
        01. Header Section
        02. Registration Form Section
        03. Footer Section
        
*/

/* ------------------------- Homepage Start --------------------- */

/* ------------------------- Header Section CSS Start --------------------- */
.header-area-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
  border-bottom: 1px solid #e5e6e7;
}

.header-area-wrapper .logo img {
  width: 60px;
}

.header-area-wrapper .header-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-area-wrapper .header-links .product-cart-icon {
  position: relative;
  font-size: 25px;
  color: var(--bgColor2);
}

.header-area-wrapper .header-links .product-cart-icon .cart-item {
  position: absolute;
  font-size: 12px;
  background: var(--bgColor);
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  right: -16px;
  top: -5px;
}

.header-area-wrapper .header-links .account-link {
  display: flex;
  gap: 20px;
  font-size: 16px;
}

.header-area-wrapper .search-bar {
  position: relative;
  width: 30%;
}

.header-area-wrapper .search-bar span {
  position: absolute;
  top: 50%;
  right: 20px;
  color: #00000073;
  margin-top: -12px;
}

.header-area-wrapper .search-bar input {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
}
.header-area-wrapper .search-bar input:focus {
  border-color: var(--bgColor2);
  box-shadow: 0 0 0 0.25rem #62151f1f;
}
/* ------------------------- Header Section CSS End --------------------- */

/* ------------------------- All Product Section CSS Start --------------------- */
.homepage-area {
  padding: 30px 0;
}

.product-categories-area h3 {
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e6e7;
}

.product-categories-area {
  border: 1px solid #e5e6e7;
  height: 100%;
}

.product-categories-area .category-list {
  padding: 15px;
}

.product-categories-area .category-list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-categories-area .category-list ul li {
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.product-categories-area .category-list ul li:hover,
.product-categories-area .category-list ul li.active {
  color: var(--bgColor);
}

.product-items-area {
  padding: 0 20px;
}

.product-items-area .product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-items-area .product-header .product-filter {
  display: flex;
  gap: 20px;
  align-items: center;
}

.product-items-area .product-header .product-filter p {
  text-transform: uppercase;
}

.product-items-area .product-header .product-filter form {
  display: flex;
  gap: 15px;
}

.product-items-area .product-header .product-filter form > select {
  padding: 7px 12px;
  border-radius: 7px;
  border: 1px solid #e5e6e7;
  outline: none;
  text-transform: capitalize;
}

.product-items-area .product-header .product-counter {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #646464d1;
}

.single-product-item .product-img {
  position: relative;
  transition: 0.3s;
  z-index: 9;
  height: 240px;
  margin-bottom: 10px;
}
.single-product-item .product-img:hover {
  box-shadow: 0.5px 0.866px 5px 0px rgb(0 0 0 / 20%);
}

.single-product-item .product-img img {
  width: 100%;
  height: 100%;
}

.single-product-item .product-img .product-view-button {
  display: inline-block;
  border: 1px solid black;
  background: transparent;
  font-size: 12px;
  width: 60%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  margin-left: -30%;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  margin-bottom: -30px;
}

.single-product-item .product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-product-item .product-info .product-title {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.single-product-item {
  margin-bottom: 35px;
}

.single-product-item .product-img .product-view-button:hover {
  border-color: var(--bgColor);
  background: var(--bgColor);
  color: white;
}

.single-product-item .product-img:hover .product-view-button {
  visibility: visible;
  opacity: 1;
}

.single-product-item .product-img:hover img {
  opacity: 0.6;
}
.all-product-area {
  margin-top: 30px;
}
.single-product-item .product-text .product-category-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 12px;
  text-transform: uppercase;
}

.single-product-item .product-text .product-category-icon .category {
  font-weight: 600;
}

.single-product-item .product-text .product-category-icon .product-cart-icon {
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  width: 30px;
  height: 30px;
  background: black;
  text-align: center;
  border-radius: 50%;
  line-height: 30px;
  color: white;
}

.single-product-item .product-text .product-category-icon .product-cart-icon:hover {
  color: black;
  background: var(--bgColor);
}

.product-items-area .product-title {
  font-weight: 400;
  margin-bottom: 5px;
}
/* ------------------------- All Product Section CSS End --------------------- */

/* ------------------------- Footer Section CSS Start --------------------- */
.footer-area {
  background: black;
}

.footer-top-area {
  padding: var(--sectionPadding);
  color: white;
}

.footer-items .footer-logo img {
  width: 120px;
}

.footer-items .footer-title {
  font-size: 10px;
  text-transform: uppercase;
  color: #fafafa80;
  font-weight: 200;
  letter-spacing: 3px;
}

.footer-items .footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-items .footer-menu ul li a {
  color: white;
  transition: 0.3s;
  display: inline-block;
}

.footer-items .footer-menu {
  margin-top: 25px;
}

.footer-items .footer-menu ul li:hover a {
  color: #333;
}

.footer-items h3 {
  font-size: 20px;
  color: beige;
  font-weight: 400;
}

.footer-items.newsletter p {
  font-size: 12px;
  color: gray;
  margin: 15px 0;
}

.newsletter-form {
  position: relative;
}

.newsletter-form input {
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  width: 100%;
  background: #1a1a1a;
  color: white;
  padding-left: 35px;
}

.newsletter-form .icon {
  position: absolute;
  left: 8px;
  top: 8px;
  color: gray;
  font-size: 16px;
}

.newsletter-form .newsletter-btn {
  position: absolute;
  right: 0;
  font-size: 24px;
  background: transparent;
  border: none;
  top: 0;
  color: white;
}

.newsletter-form input:focus {
  outline: none;
}
.footer-bottom-area {
  border-top: 1px solid #f2f2f233;
  padding: 20px 0;
}

.footer-bottom-area .copy-right-text {
  color: white;
  font-size: 12px;
  font-weight: 200;
}

.footer-bottom-right-wrapper {
  display: flex;
  justify-content: end;
  gap: 40px;
}

.footer-bottom-right-wrapper .terms ul {
  display: flex;
  gap: 15px;
}

.footer-bottom-right-wrapper .terms ul a {
  color: #fafafa80;
  font-weight: 200;
  font-size: 12px;
  transition: 0.3s;
}

.footer-bottom-right-wrapper .terms ul li:hover a {
  color: white;
}

.footer-bottom-right-wrapper .footer-social {
  display: flex;
  gap: 15px;
}

.footer-bottom-right-wrapper .footer-social a {
  color: white;
  font-size: 14px;
}
/* ------------------------- Footer Section CSS End --------------------- */

/* ------------------------- Homepage End --------------------- */

/* ------------------------- Registration & Login Page CSS Start --------------------- */
.account-registration-area {
  background: var(--sectionBg);
}

.registration-area-wrapper {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0.5px 0.866px 5px 0px rgb(0 0 0 / 20%);
  margin: 50px 0;
}

.registration-area-wrapper h3 {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}

.registration-area-wrapper .registration-form {
  margin-top: 25px;
}

.registration-area-wrapper .registration-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.registration-area-wrapper .registration-form .form-group {
  margin-bottom: 15px;
}

.registration-area-wrapper .registration-form .form-group input:focus {
  box-shadow: 0 0 0 0.25rem #62151f1f;
  border-color: var(--bgColor2);
}

.registration-area-wrapper .registration-form .form-group input {
  font-size: 14px;
  padding: 10px 15px;
}
.registration-area-wrapper .previous-account {
  text-align: center;
  font-size: 16px;
}

.registration-area-wrapper .previous-account a {
  color: var(--bgColor);
  font-weight: 600;
}
/* ------------------------- Registration & Login Page CSS End --------------------- */
