/*!
 * Name : Basic Ecommerce
 * Version: 1.0.0
 * Author: Sajeeb Debnath
 * Author URL: fb.me/sajeebdebnath.cse
 * Github: https://github.com/sajeebdebnath
 * Sajeeb Debnath 

 * Table of Contents:
    A. Homepage
        01. Header Section
        11. Footer Section
    B. Product Details Page
        01. Header Section
        11. Footer Section
    C. Cart Page
        01. Header Section
        11. Footer Section
    C. Registration & Login Page
        01. Header Section
        11. Footer Section
        
*/

/* ------------------------- Homepage Start --------------------- */

/* ------------------------- Header Section CSS Start --------------------- */
.header-area-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
  border-bottom: 1px solid #e5e6e7;
}

.header-area-wrapper .logo img {
  width: 60px;
}

.header-area-wrapper .header-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-area-wrapper .header-links .product-cart-icon {
  position: relative;
  font-size: 25px;
  color: var(--bgColor2);
}

.header-area-wrapper .header-links .product-cart-icon .cart-item {
  position: absolute;
  font-size: 12px;
  background: var(--bgColor);
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  right: -16px;
  top: -5px;
}

.header-area-wrapper .header-links .account-link {
  display: flex;
  gap: 20px;
  font-size: 16px;
}

.header-area-wrapper .search-bar {
  position: relative;
  width: 30%;
}

.header-area-wrapper .search-bar span {
  position: absolute;
  top: 50%;
  right: 20px;
  color: #00000073;
  margin-top: -12px;
}

.header-area-wrapper .search-bar input {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
}
.header-area-wrapper .search-bar input:focus {
  border-color: var(--bgColor2);
  box-shadow: 0 0 0 0.25rem #62151f1f;
}
/* ------------------------- Header Section CSS End --------------------- */

/* ------------------------- Footer Section CSS Start --------------------- */
.footer-area {
  background: black;
}

.footer-top-area {
  padding: var(--sectionPadding);
  color: white;
}

.footer-items .footer-logo img {
  width: 120px;
}

.footer-items .footer-title {
  font-size: 10px;
  text-transform: uppercase;
  color: #fafafa80;
  font-weight: 200;
  letter-spacing: 3px;
}

.footer-items .footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-items .footer-menu ul li a {
  color: white;
  transition: 0.3s;
  display: inline-block;
}

.footer-items .footer-menu {
  margin-top: 25px;
}

.footer-items .footer-menu ul li:hover a {
  color: #333;
}

.footer-items h3 {
  font-size: 20px;
  color: beige;
  font-weight: 400;
}

.footer-items.newsletter p {
  font-size: 12px;
  color: gray;
  margin: 15px 0;
}

.newsletter-form {
  position: relative;
}

.newsletter-form input {
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  width: 100%;
  background: #1a1a1a;
  color: white;
  padding-left: 35px;
}

.newsletter-form .icon {
  position: absolute;
  left: 8px;
  top: 8px;
  color: gray;
  font-size: 16px;
}

.newsletter-form .newsletter-btn {
  position: absolute;
  right: 0;
  font-size: 24px;
  background: transparent;
  border: none;
  top: 0;
  color: white;
}

.newsletter-form input:focus {
  outline: none;
}
.footer-bottom-area {
  border-top: 1px solid #f2f2f233;
  padding: 20px 0;
}

.footer-bottom-area .copy-right-text {
  color: white;
  font-size: 12px;
  font-weight: 200;
}

.footer-bottom-right-wrapper {
  display: flex;
  justify-content: end;
  gap: 40px;
}

.footer-bottom-right-wrapper .terms ul {
  display: flex;
  gap: 15px;
}

.footer-bottom-right-wrapper .terms ul a {
  color: #fafafa80;
  font-weight: 200;
  font-size: 12px;
  transition: 0.3s;
}

.footer-bottom-right-wrapper .terms ul li:hover a {
  color: white;
}

.footer-bottom-right-wrapper .footer-social {
  display: flex;
  gap: 15px;
}

.footer-bottom-right-wrapper .footer-social a {
  color: white;
  font-size: 14px;
}
/* ------------------------- Footer Section CSS End --------------------- */

/* ------------------------- Homepage End --------------------- */
