/* Mobile Menu */
@media screen and (max-width: 900px) {
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .contact-form {
    width: 80%;
  }
}

/*  MD Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .about-area-text {
    padding-left: 0;
    width: 100%;
  }
  .about-area-text .about-heading h2 {
    font-size: 22px;
  }
  .skillsb-bar-wrapper {
    margin-right: 0px;
  }
  .skills-bar-info span {
    font-size: 12px;
  }
  .skills-area-text {
    margin-top: 35px;
  }
  .skills-area-text h3 {
    font-size: 24px;
  }
  .education-experience-area::after {
    display: none;
  }
  .single-experience-item {
    padding-right: 0;
    text-align: left;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
  }
  .single-experience-item .feature-icon {
    position: initial;
  }
  .col-lg-6:nth-child(2) .single-experience-item,
  .col-lg-6:nth-child(4) .single-experience-item,
  .col-lg-6:nth-child(6) .single-experience-item {
    padding-left: 0;
    text-align: right;
  }
  .col-lg-6:nth-child(2) .single-experience-item .feature-icon,
  .col-lg-6:nth-child(4) .single-experience-item .feature-icon,
  .col-lg-6:nth-child(6) .single-experience-item .feature-icon {
    order: 2;
  }
  .col-lg-6:nth-child(3) .single-experience-item,
  .col-lg-6:nth-child(4) .single-experience-item {
    margin-top: 0;
  }
  .experience-details-info {
    width: 80%;
  }
  .service-item-wrapper {
    margin-bottom: 20px;
  }
  .project-information-wrapper .project-name {
    font-size: 20px;
  }
  .contact-form {
    width: 100%;
  }
  .blog-item-wrapper {
    margin-bottom: 35px;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .hero-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .hero-text h2 {
    font-size: 35px;
  }
  .section-title h3 {
    font-size: 24px;
  }
  .about-area-text {
    padding-left: 0;
    padding-top: 25px;
    width: 100%;
  }
  .status-address .status-cell .status-title {
    font-size: 18px;
  }
  .status-address .status-cell p {
    font-size: 14px;
  }
  .status-address .status-cell {
    width: 100%;
  }
  .about-area-text .about-heading h2 {
    font-size: 20px;
  }
  .skillsb-bar-wrapper {
    margin-right: 0px;
  }
  .skills-area-text {
    margin: 0;
    margin-top: 40px;
  }
  .skills-area-text h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .skills-bar-info span {
    font-size: 12px;
  }
  .education-experience-area::after {
    display: none;
  }
  .single-experience-item {
    padding-right: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    margin-bottom: 10px;
  }
  .single-experience-item .feature-icon {
    position: initial;
    margin-bottom: -20px;
  }
  .col-lg-6:nth-child(2) .single-experience-item,
  .col-lg-6:nth-child(4) .single-experience-item,
  .col-lg-6:nth-child(6) .single-experience-item {
    padding-left: 0;
  }
  .col-lg-6:nth-child(3) .single-experience-item,
  .col-lg-6:nth-child(4) .single-experience-item {
    margin-top: 0;
  }
  .experience-details-info {
    width: 100%;
    margin-top: 15px;
  }
  .service-item-wrapper {
    margin-bottom: 20px;
  }
  .project-items-wrapper {
    flex-direction: column;
  }
  .hire-me-text-wrapper {
    flex-direction: column;
  }
  .blog-item-wrapper {
    margin-bottom: 35px;
  }
  .contact-form {
    width: 100%;
    margin-top: 20px;
  }
  .copyright-text {
    text-align: center;
  }
  .footer-social {
    justify-content: center;
    margin-top: 15px;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
